<div class=".container-fluid">
  <h1>bootcamp Enrollment form</h1>
  <form>
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control">
   </div>

   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control">
   </div>

   <div class="form-group">
    <label>Phone</label>
    <input type="telephone" class="form-control">
   </div>


   <div class="form-group">
    <select class="custom-select" >
      
      <option selected>angular </option>
      <option selected>react</option>
      <option selected>view</option>
      <option selected>i am interested in </option>
      <option *ngif="let topic of topics">{{ topic }}</option>
    </select>
   </div>

   <div class="mb-3">
     <label>Time prefernce</label>
     <div class="form-check">
      <input class="form-check-input" type="radio" name="timepreference" value="morning" >
      <label for="form-check-label">morning (9am - 8pm)</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="timepreference" value="evening" >
        <label for="form-check-label">evening (5pm - 8pm)</label>
        </div>
     </div>
   

   <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox">
      <label class="form-check-label">
        send me promotinal offers
      </label>
    </div>

    <button class="btn btn-primary" type="submit">submit form</button>
    
  </form>
</div>